aiohttp~=3.7.4
qrcode~=7.1
requests~=2.25.1
Pillow~=8.3.0
pyfiglet~=0.8.post1
psutil~=5.8.0
mongoengine~=0.23.1
loguru~=0.5.3
Flask~=2.0.1
setuptools~=57.4.0
discord.py~=1.7.3
statcord.py>=3.0.9
youtube_dl>=2021.4.1
PyNaCl~=1.4.0
youtube-search-python>=1.4.3
asyncpraw>=7.2.0
