{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<div class="tile is-ancestor has-text-centered">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Serwery</p>
      <p class="subtitle is-size-1">{{ servers }}</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Kanały</p>
      <p class="subtitle is-size-1">{{ channels }}</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Użytkownicy</p>
      <p class="subtitle is-size-1">{{ users }}</p>
    </article>
  </div>
</div>
{% endblock %}