{% extends "base.html" %} {% block title %}Strona główna{% endblock %} {% block
content %}
<div class="container has-text-centered mt-4">
  <h2 class="is-size-2 mb-3">Co oferuje Atorin?</h2>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">🎲 Rozrywka</p>
        <p class="subtitle">śmieszne kotki, memy, generatory</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">🎵 Muzyka</p>
        <p class="subtitle">YouTube, SoundCloud, Spotify</p>
      </article>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">🛠 Moderacja</p>
        <p class="subtitle">ostrzeżenia, bany, dziennik zdarzeń</a></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">🧑‍💻 Programowanie</p>
        <p class="subtitle">dokumentacje, biblioteki, sandbox</p>
      </article>
    </div>
  </div>
  <h2 class="is-size-3 mt-3 mb-4">⏰ Nie zwlekaj, <a href="https://liamdj23.ovh/addbot">dodaj Atorina na swój serwer! ❤️</a></h2>
</div>
{% endblock %}
