{% extends "base.html" %}
{% block title %}Panel{% endblock %}
{% block avatar %}{{ avatar }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css">
{% endblock %}
{% block content %}
<div class="columns mt-5 mb-5 ml-5 mr-5">
  <div class="column is-one-quarter">
    <figure class="image is-128x128 is-inline-block">
    {% if guild.icon %}
      <img src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png">
    {% else %}
      <img src="https://discord.com/assets/2c21aeda16de354ba5334551a883b481.png">
    {% endif %}
    </figure>
    <p class="subtitle">{{ guild.name }}</p>
    <aside class="menu">
      <p class="menu-label">
        Wybierz sekcje
      </p>
      <ul class="menu-list">
        <li><a href="#logs">Zdarzenia</a></li>
      </ul>
    </aside>
  </div>
  <div class="column">
    <article id="logs">
        <p class="title">Zdarzenia</p>
        <p class="subtitle">Włącz lub wyłącz wiadomości o zdarzeniach</p>
        <div class="notification is-link" style="display: none">
          <button class="delete"></button>
        </div>
        <div class="field">
          {% if logs.enabled %}
          <input id="switchLogs" type="checkbox" name="switchLogs" class="switch is-rounded is-link" checked="true">
          <label id="switchLogsText" for="switchLogs">Włączone</label>
          {% else %}
          <input id="switchLogs" type="checkbox" name="switchLogs" class="switch is-rounded is-link">
          <label id="switchLogsText" for="switchLogs">Wyłączone</label>
          {% endif %}
        </div>
        <p class="subtitle">Wybierz kanał na którym mają być wysyłane wiadomości o zdarzeniach</p>
        <div class="select">
            <select id="channelLogs">
                {% for channel in guild.text_channels %}
                    <option value="{{ channel.id }}" {% if logs.channel == channel.id %}selected{% endif %}>{{ channel.name }}</option>
                {% endfor %}
            </select>
        </div>
    </article>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#switchLogs").on("click", async function () {
        await fetch("/server/{{ guild.id }}/logs", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({"state": $(this).is(":checked")})
        }).then(res => res.text()).then(data => {
            $("#logs .notification").text(data).show();
            if ($("#switchLogs").is(":checked")) {
                $("#switchLogsText").text("Włączone");
            } else {
                $("#switchLogsText").text("Wyłączone");
            }
        }).catch(err => {
            console.error(err);
        })
    })
    $('#channelLogs').change(async function(){
        await fetch("/server/{{ guild.id }}/logs", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({"channel": $(this).val()})
        }).then(res => res.text()).then(data => {
            $("#logs .notification").text(data).show();
        }).catch(err => {
            console.error(err);
        })
    });
</script>
{% endblock %}