{% extends "base.html" %}
{% block title %}Wybierz serwer{% endblock %}
{% block avatar %}{{ avatar }}{% endblock %}
{% block content %}
<div class="content mt-3 has-text-centered">
    <p class="title">Wybierz serwer</p>
</div>
<div class="tile has-text-centered is-ancestor is-flex-wrap-wrap mr-3 ml-3">
{% for server in data %}
  <a href="/server/{{ server.id }}/view">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title is-5">{{ server.name }}</p>
        {% if server.icon %}
          <img src="https://cdn.discordapp.com/icons/{{ server.id }}/{{ server.icon }}.png" width="64" height="64">
        {% else %}
          <img src="https://discord.com/assets/2c21aeda16de354ba5334551a883b481.png" width="64" height="64">
        {% endif %}
      </article>
    </div>
  </a>
{% endfor %}
</div>
{% endblock %}
