{% extends "base.html" %}
{% block title %}Regulaminy{% endblock %}
{% block avatar %}{{ avatar }}{% endblock %}
{% block content %}
    <div class="content mt-3 mb-3 mr-6 ml-6 has-text-centered">
        <p class="title">Regulaminy</p>
        <p class="subtitle">Regulamin serwisu SMS liamdj23.ovh</p>
        <strong>§1</strong>
        <p>Sklep internetowy liamdj23.ovh, dostępny pod adresem internetowym liamdj23.ovh prowadzony przez Piotra Gaździckiego prowadzącego działalność nierejestrowaną zgodnie z ustawą z dnia 6 marca 2018 r. – Prawo przedsiębiorców zwanym dalej „Usługodawcą”.</p>
        <strong>§2</strong>
        <p>Obsługę techniczną związaną z SMS Premium, sprawuje firma RPDP Robert Paszkowski, 02-143 Warszawa, Żwirki i Wigury 3/10, NIP 1182105129.</p>
        <strong>§3</strong>
        <p>a) Serwis polega na udostępnieniu infrastruktury technicznej SMS Premium do dodania ogłoszenia płatnego w serwisie lokalnym liamdj23.ovh</p>
        <strong>§4</strong>
        <p style="white-space: pre-line">Koszt wysłania SMS wynosi:
        - 71480 1zł netto (1,23 zł brutto).
        - 72480 2 zł netto (2,46 zł brutto).
        - 73480 3 zł netto (3,69 zł brutto).
        - 74480 4 zł netto (4,92 zł brutto).
        - 75480 5 zł netto (6,15 zł brutto).
        - 76480 6 zł netto (7,38 zł brutto).
        - 79480 9 zł netto (11,07 zł brutto).
        - 91400 14 zł netto (17,22 zł brutto).
        - 91900 19 zł netto (23,37 zł brutto).
        - 91900 20 zł netto (24,70 zł brutto).
        - 91900 25 zł netto (30,75 zł brutto).
        </p>
        <p>Usługa dostępna jest dla sieci Orange, T-Mobile, Plus, Play, Sferia, Cyfrowy Polsat oraz wszystkich sieci wirtualnych MVNO (np. GaduAir, mBank mobile, Aster).</p>
        <strong>§5</strong>
        <p>Tylko poprawnie wysłany SMS z dokładnie wpisaną komendą i numerem Premium, uprawnia do uzyskania
        kodu jednorazowego. W przypadku błędnie wpisanego SMSa, Użytkownik otrzyma komunikat o błędnie
        wysłanej komendzie. Zgodnie z zasadami opłata za każdego wysłanego SMSa jest pobierana przez
        operatorów GSM w momencie jego wysłania, nawet jeśli jest to nieprawidłowy SMS. Organizator informuje,
        iż nie ma obowiązku zwrotu kosztów SMSa bądź przesłania ponownie kodu, w przypadku jeśli Użytkownik
            wysłał błędną treść SMSa.</p>
        <strong>§6</strong>
        <p>Użytkownikowi przysługuje prawo złożenia reklamacji związanej z funkcjonowaniem Serwisu, bądź
        nieotrzymania SMSa z kodem, mimo wysłania prawidłowej treści SMS, w terminie 7 dni od dnia wystąpienia
            zdarzenia będącego przyczyną reklamacji poprzez wysłanie e-maila na adres: me@liamdj23.ovh .</p>
        <strong>§7</strong>
        <p>Organizator nie ponosi odpowiedzialności za wiadomości przesłane przez Uczestnika w formie SMS nie dostarczone lub opóźnione z przyczyn leżących po stronie Operatora sieci komórkowej.</p>
    </div>
{% endblock %}